#Hardware{
   position: relative;
   top: 80px;
   text-align: center;
   text-underline-position: under;
   box-sizing: border-box;
   word-wrap: break-word;
}

.hardware-content{
   position: relative;
   width: 50%;
   margin: auto;
   margin-top: 50px;
}

.hardware-content img{
   width: 100%;
   border-radius: 3px;
}

.content-title{
   font-size: 50px;
   background: rgb(30, 91, 189);
   border-radius: 3px;
}


@media only screen and (max-width: 1000px) {
   .content-title{
      font-size: 30px;
   }
}

@media only screen and (max-width: 600px) {
   .hardware-content{
      width: 90%;
   }
}