#home{
   position: absolute;
   top: 50px;
   width: 100%;
   height: calc(100% - 50px);
   box-sizing: border-box;
}

.home-img-wrap{
   position: relative;
   margin: 0;
   padding: 0;
   height: 100%;
   box-sizing: border-box;
}

.home-img{
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.home-arrow-wrap{
   position: absolute;
   z-index: 1;
   width: 100%;
   top: calc(50% - 75px);
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 200px;
   font-weight: bold;
   height: 150px;
   align-items: center;
}

.arrow{
   position: relative;
   text-align: center;
   cursor: pointer;
   vertical-align: super;
   height: 100%;
   line-height: 0.5;
   opacity: 0.4;
   user-select: none;
}

.arrow:hover{
   opacity: 1;
   text-shadow: 0 0 10px black;
}

.no-show{display:none;}
.show{display:block;}

.nav-full-wrap{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   text-align: center;
   font-weight: bold;
   z-index: 4;
   font-size: 20px;
}

.nav-flex-wrap{
   display: flex;
   position: relative;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   box-sizing: border-box;
}

.nav-flex-wrap div{
   margin: 20px;
   cursor: pointer;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   font-size: 40px;
   border: 1px solid red;
}

.nav-flex-wrap div:hover{
   color: dodgerblue;
}

@media only screen and (max-width: 500px) {

   .nav-flex-wrap div{
      font-size: 25px;
      width: 150px;
   }
}