#home{
   position: absolute;
   top: 50px;
   width: 100%;
   height: calc(100% - 50px);
   box-sizing: border-box;
}

.home-img-wrap{
   position: relative;
   margin: 0;
   padding: 0;
   height: 100%;
   box-sizing: border-box;
}

.home-img{
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.home-arrow-wrap{
   position: absolute;
   z-index: 1;
   width: 100%;
   top: calc(50% - 75px);
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 200px;
   font-weight: bold;
   height: 150px;
   align-items: center;
}

.arrow{
   position: relative;
   text-align: center;
   cursor: pointer;
   vertical-align: super;
   height: 100%;
   line-height: 0.5;
   opacity: 0.4;
   user-select: none;
}

.arrow:hover{
   opacity: 1;
   text-shadow: 0 0 10px black;
}

.no-show{display:none;}
.show{display:block;}

.nav-full-wrap{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: black;
   text-align: center;
   font-weight: bold;
   z-index: 4;
   font-size: 20px;
}

.nav-flex-wrap{
   display: flex;
   position: relative;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   box-sizing: border-box;
}

.nav-flex-wrap div{
   margin: 20px;
   cursor: pointer;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   font-size: 40px;
   border: 1px solid red;
}

.nav-flex-wrap div:hover{
   color: dodgerblue;
}

.home-text-wrap{
   position: absolute;
   top: 0;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   display: flex;
   user-select: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.home-text-wrap div{
   box-sizing: border-box;
   margin: 20px;
   font-size: 7vh;
   /* font-family: 'Nunito', sans-serif; */
   font-family: 'Russo One', sans-serif;
}

.github{
   font-size: 25px !important;
   border: 4px solid rgba(255, 255, 255, 0.3);
   color: rgba(255, 255, 255, 0.3);
   border-radius: 3px;
   /* color:rgba(255, 255, 255, 0.3); */
   padding: 10px;
   cursor: pointer;
}

.github:hover{
   box-shadow: 0 0 3px black;
   text-shadow: 0 0 3px black;
   color: whiteSmoke;
   border-color: white;
   transition: all 0.5s;
}

.t2{animation-delay: 0.1s;}
.t3{animation-delay: 0.2s;}
.t4{animation-delay: 0.3s;}

.shine {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  background-size: 150px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shine;
  animation-name: shine;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* .chrome {
  background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  -webkit-background-size: 200px;
  color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
} */

@keyframes shine {
  0%,
	10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}

@media only screen and (max-width: 500px) {

   .nav-flex-wrap div{
      font-size: 25px;
      width: 150px;
   }
}