#dashboard{
   position: relative;
   top: 80px;
   text-align: center;
   text-underline-position: under;
   word-wrap: break-word;
}

.dashboard-status-wrap{
   position: relative;
   width: 70%;
   margin: auto;
   display: flex;
   flex-direction: column;
   font-size: 25px;
   box-sizing: border-box;
}

.dashboard-status-wrap div{
   background: #303030;
   padding: 5px;
   box-sizing: border-box;
   border-radius: 3px;
}

.email-status button{
   font-size: 20px;
}

.profile-img{
   position: relative;
   width: 200px;
   height: 200px;
   cursor: pointer;
   box-shadow: 0 0 5px white;
   border-radius: 2px;
}

.profile-img:hover{
   box-shadow: 0 0 10px white;
}


.logout-button{
   font-size: 20px;
   background: #404040;
   color: white;
   border: none;
   cursor: pointer;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 3px;
}
.logout-button:hover{
   box-shadow: 0 0 10px white;
}

.change-img-setting{
   position: fixed;
   z-index: 1;
   top: 50px;
   border: 2px solid yellow;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgb(0,0,0,0.9);
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.img-setting-title{
   font-size: 30px;
}

.change-img-setting input{
   font-size: 20px;
   width: 60%;
}

.change-img-setting button{
   width: 100px;
   font-weight: bold;
   margin-bottom: 10px;
   font-size: 20px;
}

.change-img-setting div,
.change-img-setting input{
   margin: 15px;
}
