.signup{
   position: relative;
   background: black;
}

.signup-form{
   position: relative;
   display: flex;
   flex-direction: column;
   width: 400px;
   margin: auto;
}

.signup-form input,
.signup-form button {
   font-size: 30px;
}





@media only screen and (max-width: 600px) {
   .signup-form{
      width: 250px;
   }

   .signup-form input,
   .signup-form button{
      font-size: 20px;
   }
}